.nav {
    background-color: #f9f9fa;
    padding: 20px 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid rgba(123, 121, 121, 0.3);
}
.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    position: relative;
    color:#2e363e;
}

.nav__link--dot {
    width: 5px;
    height: 5px;
    background-color: tomato;
    border-radius: 50%;
    position: absolute;
    right: -5px;
}

@keyframes notificationAnimation {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(-5px) rotateY(90deg);
    }
    100% {
        transform: none;
    }
}

.nav__notification {
    position:absolute;
    left: 15px;
    bottom: 15px;
    animation : notificationAnimation 0.5s ease-out;
}

@keyframes appearBtnAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.nav__btn {
    transform: translateY(50px);
    opacity: 0;
    animation: appearBtnAnimation 0.2s ease-out forwards;
}

.nav__btn:nth-child(2) {
    animation-delay: 0..5s;
}

.nav__btn:nth-child(3) {
    animation-delay: 0.1s;
}

.nav__btn:nth-child(4) {
    animation-delay: 0.15s;
}

