.nav {
    background-color: #f9f9fa;
    padding: 20px 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid rgba(123, 121, 121, 0.3);
}
.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    position: relative;
    color:#2e363e;
}

.nav__notification {
    position:absolute;
    left: 15px;
    bottom: 15px;
}

.nav__link--dot {
    width: 5px;
    height: 5px;
    background-color: tomato;
    border-radius: 50%;
    position: absolute;
    right: -5px;
}